<settings>

    <!-- Thiết lập mirror: sử dụng Maven Group làm địa chỉ mirroring -->
    <mirrors>
        <mirror>
            <id>vtt-maven-group</id>
            <mirrorOf>*</mirrorOf>
            <url>https://nexus.kcntt.net/repository/maven-group/</url>
        </mirror>
    </mirrors>

    <!-- Thiết lập authentication vào các repo của Khối -->
    <servers>
        <server>
            <id>vtt-maven-releases</id>
            <username>vtt_maven</username>
            <password>123456aA@</password>
        </server>
        <server>
            <id>vtt-maven-snapshots</id>
            <username>vtt_maven</username>
            <password>123456aA@</password>
        </server>
        <server>
            <id>vtt-maven-3rdparty</id>
            <username>vtt_maven</username>
            <password>123456aA@</password>
        </server>

    </servers>

</settings>