<settings>

    <!-- Thiết lập mirror: sử dụng Maven Group làm địa chỉ mirroring -->
    <mirrors>
        <mirror>
            <id>vtt-maven-group</id>
            <mirrorOf>*</mirrorOf>
            <url>https://nexus.kcntt.net/repository/maven-group/</url>
        </mirror>
    </mirrors>

    <!-- Thiết lập authentication vào các repo của Khối -->
    <servers>
        <server>
            <id>vtt-maven-releases</id>
            <username>vtt_mvn</username>
            <password>123456aA@</password>
        </server>
        <server>
            <id>vtt-maven-snapshots</id>
            <username>vtt_mvn</username>
            <password>123456aA@</password>
        </server>
        <server>
            <id>vtt-maven-3rdparty</id>
            <username>vtt_mvn</username>
            <password>123456aA@</password>
        </server>

    </servers>

    <!-- lưu ý thiết lập proxy: nexus.kcntt.net không đi qua proxy -->
    <proxies>
        <proxy>
            <id>http-proxy</id>
            <active>true</active>
            <protocol>http</protocol>
            <host>...</host>
            <port>...</port>
            <nonProxyHosts>localhost|127.0.0.1|::1|*.kcntt.net|...</nonProxyHosts>
        </proxy>
        <proxy>
            <id>https-proxy</id>
            <active>true</active>
            <protocol>https</protocol>
            <host>...</host>
            <port>...</port>
            <nonProxyHosts>localhost|127.0.0.1|::1|*.kcntt.net|...</nonProxyHosts>
        </proxy>

    </proxies>

</settings>